// Stats.

@import '~styles/freshpress-includes';

.stats {
	&__stats-description {
		color: $pre-midnight-blue;
	}

	&__stats-container {
		justify-content: space-evenly;
		min-width: 100%;
	}

	&__stat-item {
		flex: 1;
	}

	&__stat-item-value {
		color: $fresh-new;
		font-family: $font-freshbooks-script;
	}

	&__stat-item-value--unit {
		margin-right: -4px;
		@include media-breakpoint-up( sm ) {
			margin-right: -6px;
		}
	}

	&__stat-item-value--content {
		+ .stats__stat-item-value--unit {
			margin-right: auto;
			margin-left: -4px;
			@include media-breakpoint-up( sm ) {
				margin-left: -6px;
			}
		}
	}

	&__stat-item-label {
		color: $pre-midnight-blue;
	}

	// Theming.
	&--all-white {
		.stats__stats-description {
			margin: 3rem auto;
			color: $white;
		}

		.stats__stat-item-value {
			color: $white;
		}

		.stats__stat-item-label {
			color: $white;
		}
	}

	&--layout-big {
		.stats__stats-description {
			font-family: $font-freshbooks-script;
		}
	}
}
