.feature-row {
	&.first-row {
		order: -1;
	}

	.row {
		align-items: flex-start !important;
	}
}

.wp-block-image {
	img {
		height: auto !important;
	}
}

.flexible-colour-background {
	&.white {
		img {
			max-width: 203px;
		}
	}
}
