// Accounting Partners CTA.

@import '~styles/freshpress-includes';

$white: #fff;
.accounting-partners-cta {
	position: relative;
	left: calc( ( 50vw - ( 50% + 15px ) ) * -1 );
	width: 100vw;
	margin: 32px -15px 32px;
	padding: 60px 0 76px;
	background-color: $fresh-new;

	@include media-breakpoint-up( lg ) {
		padding: 68px 0 68px;
	}

	@media ( min-width: 1600px ) {
		left: calc( ( 800px - ( 50% + 15px ) ) * -1 );
		width: 1600px;
	}

	&__container {
		display: block;
		width: 637px;
		max-width: 100%;
		margin: 0 auto;
		padding: 0 32px;
		color: $white;
		text-align: center;
	}
	&__pre-hed {
		display: block;
		margin-bottom: 16px;
		font-weight: 400;
		font-size: px-to-rem( 16 );
		font-family: $font-freshbooks-script;
		font-style: italic;
		line-height: px-to-rem( 20 );
		@include media-breakpoint-up( lg ) {
			margin-bottom: 24px;
		}
	}
	&__title {
		margin-bottom: 8px;
		font-size: px-to-rem( 30 );
		line-height: px-to-rem( 28 );
		letter-spacing: normal;
		@include media-breakpoint-up( lg ) {
			font-size: px-to-rem( 36 );
			line-height: px-to-rem( 36 );
		}
	}
	&__description {
		margin-bottom: 24px;
		font-size: px-to-rem( 16 );
		line-height: px-to-rem( 20 );
		@include media-breakpoint-up( lg ) {
			margin-bottom: 32px;
			font-size: px-to-rem( 18 );
			line-height: px-to-rem( 24 );
		}
	}
	.btn-cta-green {
		padding: 11px 22px;
		font-weight: 500;
		font-size: px-to-rem( 18 );
		line-height: px-to-rem( 20 );
		@include media-breakpoint-up( lg ) {
			font-size: px-to-rem( 20 );
			line-height: px-to-rem( 24 );
		}
	}
}
