<div class="swiper-wrapper">
    {{# gallery }}
        {{> slide }}
    {{/ gallery }}
</div>
<div class="gallery-carousel__navigation d-flex justify-content-center my-2 my-sm-3">
    <div class="gallery-carousel__arrow swiper-button-prev position-relative mt-0 mr-4"></div>
    <div class="gallery-carousel__pagination swiper-pagination position-relative"></div>
    <div class="gallery-carousel__arrow swiper-button-next position-relative mt-0 ml-4"></div>
</div>
