{{# links }}
	<li class="related-links__list-item related-links__list-item_{{ selected_layout }}">
		<a class="text-decoration-none" href="{{{ url }}}" target="{{{ target }}}">{{{ title }}}</a>
	</li>
{{/ links}}
