@import '~swiper/swiper';
@import '~swiper/components/navigation/navigation';
@import '../../freshpress-includes';
@import '../../../../blocks/fpbk/pricing-table/src/style';
@import '../../../../blocks/fpbk/comparison-table/src/style';
@import '../../../../blocks/fpbk/modal/src/style';

.header {
	max-width: 1600px;
}

.section-heading {
	margin-right: auto;
	margin-left: auto;

	@include media-breakpoint-up( md ) {
		max-width: 100%;
	}

	&_main {
		max-width: 290px;

		@include media-breakpoint-up( md ) {
			max-width: 620px;
		}
	}
}

.new-cta-bar {
	position: relative;

	&__content {
		position: static !important;
	}

	&__container {
		@include media-breakpoint-up( lg ) {
			padding: 4rem 0.625rem 3rem !important;
		}
	}

	&__after-cta-button {
		max-width: 270px;
		font-size: px-to-rem( 14px );
	}

	&__cta-button {
		margin-bottom: 10px;
		padding: 7px 70px !important;
		font-weight: $font-weight-medium;
		font-size: px-to-rem( 23px ) !important;
		text-transform: uppercase;
	}

	.stats {
		&__stats-description {
			margin-top: 0 !important;
			margin-bottom: 2rem !important;
		}

		&__stat-item {
			&:nth-child( 2 ),
			&:nth-child( 3 ) {
				.stats__stat-item-value--unit {
					font-size: 4rem;

					@include media-breakpoint-up( sm ) {
						font-size: 5.5rem;
					}

					@include media-breakpoint-up( lg ) {
						font-size: 6rem;
					}
				}
			}
		}

		&__stat-item-label {
			max-width: 230px;
			margin-right: auto;
			margin-left: auto;
			text-transform: uppercase;
		}
	}
}

.button-container {
	max-width: 300px;
	margin-right: auto !important;
	margin-left: auto !important;
	padding-right: 0 !important;
	padding-left: 0 !important;

	&_left {
		@include media-breakpoint-up( md ) {
			margin-left: 0 !important;
		}
	}
}

.try-it-free {
	margin-bottom: 10px;
	font-weight: $font-weight-medium;
	font-size: px-to-rem( 23px );
	text-transform: uppercase;
}

.check-list {
	margin-bottom: 0;

	@include media-breakpoint-up( lg ) {
		margin-right: 4rem;
	}

	li {
		margin-bottom: 20px;

		&::before {
			top: 8px;
			background-image: url( ./../../../images/icons/checkmark-green.svg ) !important;
			background-repeat: no-repeat;
			background-position: center;
		}
	}
}

.faq {
	@include media-breakpoint-up( lg ) {
		margin-top: 100px !important;
	}
}

.swiper-pagination {
	margin-top: 25px;

	.swiper-pagination-bullet {
		display: inline-block;
		width: 9px;
		height: 9px;
		margin: 0 5px;
		background: #000;
		border-radius: 50%;
		opacity: 0.2;

		&-active {
			background-color: $fresh-blue;
			opacity: 1;
		}
	}
}

.testimonial-blocks {
	margin-top: 30px;
	margin-bottom: 30px;

	&__container {
		max-width: 270px;
		margin: 0 auto;
		overflow: visible;

		@media screen and ( min-width: 370px ) {
			max-width: 340px;
		}

		@include media-breakpoint-up( sm ) {
			max-width: 100%;
		}
	}

	&__wrapper {
		display: flex;
		max-width: 100%;

		@include media-breakpoint-up( sm ) {
			flex-wrap: wrap;
			justify-content: center;
		}

		@include media-breakpoint-up( md ) {
			flex-wrap: nowrap;
		}
	}

	&__item {
		height: auto;
		margin-right: 20px;
		border: 1px solid #cdd4d9;
		border-radius: 5px;

		@include media-breakpoint-up( sm ) {
			flex-shrink: 1;
			width: 43%;
			max-width: 310px;
			margin-right: 15px;
			margin-left: 15px;
			border: 0;
			border-radius: 0;
		}

		@include media-breakpoint-up( md ) {
			width: 100%;
		}

		&:last-child {
			@include media-breakpoint-up( sm ) {
				width: 100%;
			}
		}
	}

	&__item-image {
		width: 120px;
	}

	&__item-description {
		margin-top: 20px;
		margin-bottom: 50px;
	}

	&__item-separator {
		width: 70px;
		height: 3px;
		margin-right: auto;
		margin-bottom: 25px;
		margin-left: auto;
		background-color: $fresh-blue-light;
	}

	&__item-name {
		font-weight: $font-weight-medium;
		font-size: px-to-rem( 14px );
	}

	&__item-position {
		color: $accessible-grey;
		font-weight: $font-weight-medium;
		font-size: px-to-rem( 14px );
		line-height: 1.2;
	}

	&__pagination {
		bottom: 10px;
		left: 50%;
		transform: translateX( -50% );
	}
}

.hero {
	&.promo-hero {
		//background-color: #2f9eff;
		background-color: $fresh-blue;

		@include media-breakpoint-up( md ) {
			background-color: #0075dd;
		}

		@include media-breakpoint-up( xl ) {
			margin-right: calc( -50vw - -625px );
			margin-left: calc( -50vw - -625px );
		}

		@include media-breakpoint-up( xxl ) {
			margin-right: -175px;
			margin-left: -175px;
		}

		.hero {
			&__label {
				width: 220px;
				//height: 55px;
				margin: 10px 0 20px;
				//padding: 12px 16px;
				color: $midnight-blue;
				font-weight: $font-weight-medium;
				font-size: px-to-rem( 21px );
				//background-image: url( ./../../../images/homepage/hero-label-notext.svg );
				//background-repeat: no-repeat;
				//background-position: center;
				//background-size: contain;

				@include media-breakpoint-up( md ) {
					margin: 30px 0 20px;
				}
			}

			&__heading {
				max-width: 256px;
				margin-bottom: 0;
				color: $midnight-blue !important;
				font-size: px-to-rem( 42px );
				line-height: 40px;

				@include media-breakpoint-up( md ) {
					margin-bottom: 0;
					color: $midnight-blue !important;
					text-align: left;
				}

				@include media-breakpoint-up( lg ) {
					max-width: 250px;
				}

				@include media-breakpoint-up( xl ) {
					max-width: 100%;
					font-size: px-to-rem( 48px );
					line-height: 52px;
				}
			}

			&__cta {
				padding: 6px 40px;
				font-weight: $font-weight-medium;
				font-size: px-to-rem( 24px );

				@include media-breakpoint-up( md ) {
					font-size: px-to-rem( 25px );
				}
			}

			&__content {
				display: flex;
				flex-direction: column;
				align-items: center;
				width: 100%;
				max-width: calc( 100% - 40px );
				padding: 45px 20px 65px;
				//background-color: #0075dd;
				background-color: #fff9e8;
				border-radius: 60px 0 60px 0;

				@include media-breakpoint-up( sm ) {
					max-width: 440px;
				}

				@include media-breakpoint-up( md ) {
					max-width: 700px !important;
					padding: 30px 40px 43px;
					background-color: #fff9e8;
				}

				@include media-breakpoint-up( lg ) {
					max-width: 800px !important;
					padding: 30px 60px 43px;
				}

				@include media-breakpoint-up( xl ) {
					max-width: 1080px !important;
					padding: 30px 84px 43px;
				}

				&.no-countdown {
					padding: 45px 0 35px;

					@include media-breakpoint-up( md ) {
						max-width: 700px;
						padding: 30px 40px 43px;
						background-color: #fff9e8;
					}
				}
			}
		}

		.decorative-block {
			position: absolute;

			@include media-breakpoint-up( sm ) {
				display: none;
			}

			&__top {
				top: 0;
				right: 0;
				width: 20px;
				height: 176px;
				background-color: #002d79;
				border-radius: 0 0 30px 0;
			}

			&__bottom {
				bottom: 0;
				left: 0;
				z-index: 2;
				width: 100px;
				height: 20px;
				background-color: #ffe6a0;
				border-radius: 0 30px 0 0;
			}
		}

		.promo-hero {
			&__actions {
				display: flex;
				flex-wrap: wrap;
				align-items: center;
				justify-content: center;
				margin: 0 auto 15px;

				@include media-breakpoint-up( md ) {
					flex-wrap: nowrap;
					justify-content: flex-start;
					width: 200px;
					margin: 0;
				}

				@include media-breakpoint-up( lg ) {
					flex-wrap: nowrap;
					width: 100%;
				}

				&.no-countdown {
					max-width: 240px;
				}

				&_inner-wrap {
					width: 100%;

					@include media-breakpoint-up( md ) {
						width: auto;
					}
				}

				&_cta {
					max-width: 100%;
					margin-top: 15px;
					padding-top: 0.5rem;
					padding-bottom: 0.5rem;
					font-weight: $font-weight-medium;
					font-size: px-to-rem( 24px );

					@include media-breakpoint-up( md ) {
						width: 220px;
						margin-top: 0;
						font-size: px-to-rem( 18px );
					}
				}

				&_offer-link {
					width: fit-content;
					margin: map-get( $spacers, 2 ) auto 0;
					color: $midnight-blue;
					font-weight: $font-weight-normal;
					font-size: px-to-rem( 18px );
					line-height: 22px;
					text-decoration: underline;
					cursor: pointer;

					&:hover {
						color: $midnight-blue;

						@include media-breakpoint-up( md ) {
							color: $midnight-blue;
						}

						+ .promo-hero__actions_offer-details {
							display: block;
							visibility: visible;
							opacity: 1;
						}
					}

					@include media-breakpoint-up( md ) {
						margin: 0 map-get( $spacers, 2 );
						color: $midnight-blue;
					}
				}

				&_offer-details {
					top: calc( 100% + 14px );
					left: 50%;
					z-index: 5;
					display: none;
					width: 100vw;
					max-width: calc( 100vw - 2rem );
					padding: 1.4rem;
					font-size: px-to-rem( 16 );
					background-color: $white;
					border: 1px solid $rule-grey;
					border-radius: 8px;
					box-shadow: 4px 4px 0 0 rgba( 6, 41, 66, 0.1 );
					transform: translateX( -50% );
					visibility: hidden;
					opacity: 0;
					transition: visibility 0s, opacity 0.5s;

					@include media-breakpoint-up( md ) {
						max-width: 420px;
						padding: 2rem;
					}

					@include media-breakpoint-up( lg ) {
						max-width: 550px;
					}

					&::before {
						position: absolute;
						bottom: calc( 100% - 10px );
						left: calc( 50% - 10px );
						display: block;
						width: 20px;
						height: 20px;
						background: $white;
						border-top: 1px solid $rule-grey;
						border-right: 1px solid $rule-grey;
						transform: rotate( -45deg );
						transition: visibility 0s, opacity 0.5s;
						content: '';
					}

					h4 {
						font-size: px-to-rem( 30 );
					}
				}
			}
		}
	}

	.countdown-timer.themed {
		.countdown-timer {
			&__colon {
				font-size: px-to-rem( 16px );

				@include media-breakpoint-up( md ) {
					font-size: px-to-rem( 21px );
				}
			}

			&__days,
			&__hours,
			&__minutes,
			&__seconds {
				max-width: 46px;

				@include media-breakpoint-up( md ) {
					max-width: 65px;
				}

				&-ones {
					margin-left: 2px;

					@include media-breakpoint-up( md ) {
						margin-left: 3px;
					}
				}

				&-tens {
					margin-right: 2px;

					@include media-breakpoint-up( md ) {
						margin-right: 3px;
					}
				}
			}

			&__days-tens,
			&__days-ones,
			&__hours-tens,
			&__hours-ones,
			&__minutes-tens,
			&__minutes-ones,
			&__seconds-tens,
			&__seconds-ones {
				width: calc( 50% - 2px );
				padding: 3px 0;
				font-size: px-to-rem( 16px );

				@include media-breakpoint-up( md ) {
					width: calc( 50% - 3px );
					padding: 4px 0;
					font-size: px-to-rem( 22px );
				}
			}

			&__days-text,
			&__hours-text,
			&__minutes-text,
			&__seconds-text {
				width: 100%;
				color: $midnight-blue;
				font-size: px-to-rem( 11px );

				@include media-breakpoint-up( md ) {
					font-size: px-to-rem( 12px );
				}
			}

			&__title {
				width: 150px;
				height: 34px;
				color: $midnight-blue;
				font-weight: $font-weight-medium;
				font-size: px-to-rem( 14px );
				background-image: url( ./../../../images/homepage/hero-label-orange.svg );

				@include media-breakpoint-up( md ) {
					margin-bottom: 10px;
					margin-left: auto;
				}

				@include media-breakpoint-up( lg ) {
					font-size: px-to-rem( 15px );
				}
			}
		}
	}
}

.pricing-table {
	position: relative;
	max-width: 1080px;
	margin-right: -15px;
	margin-left: -15px;

	@include media-breakpoint-up( md ) {
		margin-right: auto;
		margin-left: auto;
	}

	&__discount-message {
		font-size: px-to-rem( 12px );
	}

	&_term-wrapper {
		flex-direction: column;
		align-items: center;
	}

	&_term-label {
		width: 250px;
		margin-bottom: 0;
		padding-right: 24px;
		color: $midnight-blue;
		font-size: px-to-rem( 14px );
		font-family: $font-freshbooks-script;
		text-align: right;
	}

	&_term-switch {
		width: 100%;
		max-width: 250px;
		height: 40px;

		&::before,
		&::after {
			z-index: 2;
			width: 46%;
			font-size: px-to-rem( 14px ) !important;
			text-transform: none;

			@media screen and ( min-width: 380px ) {
				width: 91px;
				font-size: px-to-rem( 16px ) !important;
			}
		}

		&::before {
			right: unset;
			left: 0;
		}

		&::after {
			right: 0;
			left: unset;
		}

		&__slider {
			&::before {
				bottom: 0;
				left: 0;
				z-index: 3;
				display: flex;
				align-items: center;
				justify-content: center;
				width: 50%;
				height: 100%;
				color: $white;
				font-weight: $font-weight-medium;
				font-size: px-to-rem( 14px ) !important;
				border-radius: 34px;
				content: 'Monthly';

				@media screen and ( min-width: 380px ) {
					font-size: px-to-rem( 16px ) !important;
				}
			}
		}

		&__checkbox:checked + .pricing-table {
			&_term-switch__slider::before {
				transform: translateX( 100% );
				content: 'Yearly';

				@media screen and ( min-width: 380px ) {
					transform: translateX( 123px );
				}
			}
		}
	}

	&__price-disclaimer {
		display: flex;
		align-items: center;
		justify-content: flex-end;
		color: $midnight-blue;

		img {
			width: 30px;
			margin-left: 6px;
		}
	}

	&__desktop-categories {
		padding: 0;

		li {
			margin: 0 10px 0 0;
			padding: 4px 12px 6px;
			font-size: px-to-rem( 15px );
			line-height: 19px;
			list-style-type: none;
			border-radius: 15px;

			@include media-breakpoint-up( lg ) {
				font-size: px-to-rem( 16px );
			}

			&:not( .active ) {
				cursor: pointer;
			}

			&.active,
			&:hover {
				background-color: #d5ecff;
			}
		}
	}

	&__mobile-categories {
		width: 100%;
		max-width: 315px;
		margin-bottom: 25px;
		padding: 2px 12px 4px;
		background-color: #fbfdfe;
		border: 1px solid #c2c8d1;
		border-radius: 5px;

		&::after {
			position: absolute;
			top: 50%;
			right: 9px;
			display: block;
			width: 10px;
			height: 10px;
			background-image: url( ./../../../images/icons/arrow-left-midnight-blue.svg );
			background-repeat: no-repeat;
			background-size: contain;
			transform: translateY( -50% ) rotate( -90deg );
			content: '';
			pointer-events: none;
		}

		select {
			width: 115%;
			font-size: px-to-rem( 16px );
			background: none;
			border: none;
			outline: 0;
		}
	}

	&_column {
		display: none !important;
		width: 290px;
		border: 1px solid #cdd4d9;
		border-radius: 8px !important;
		box-shadow: 2px 2px rgba( 6, 41, 66, 0.07 );

		@include media-breakpoint-up( md ) {
			display: flex !important;
			flex-shrink: 1;
			width: 100%;
			max-width: 252px;
			margin: 40px 5px 0;
		}

		&:first-child,
		&:not( :nth-child( 2 ) ):not( :first-child ) {
			border: 1px solid #cdd4d9 !important;
		}

		&:nth-child( 2 ) {
			bottom: unset;
			z-index: 2;
			margin-top: 40px;
			padding-top: 0;
			padding-bottom: 0;
			box-shadow: 2px 2px rgba( 6, 41, 66, 0.07 );
		}

		&:first-child {
			@include media-breakpoint-up( md ) {
				margin-left: 0;
			}
		}

		&:last-child {
			@include media-breakpoint-up( md ) {
				margin-right: 0;
			}
		}

		&:not( .recommended ) {
			@include media-breakpoint-up( md ) {
				opacity: 0.2;
				transition: opacity 0.2s;
				pointer-events: none;
			}
		}

		.toggle-hide {
			display: none;
		}

		&.open {
			.toggle-open {
				display: none;
			}

			.toggle-hide {
				display: inline;
			}

			.pricing-table {
				&_column-features,
				&_column-footer {
					display: block;
				}

				&_column-mobile-features__details {
					&::after {
						transform: rotate( -90deg );
					}
				}
			}
		}
	}

	&_column-badge {
		top: -25px;
		display: none;
		font-size: px-to-rem( 14px );
		font-family: $font-freshbooks-script;
	}

	&_column-label {
		&__title {
			color: $midnight-blue;
			font-size: px-to-rem( 24px );
			line-height: 29px;
		}
	}

	&_column-cta {
		.btn {
			width: 100%;
			max-width: 100% !important;
			height: 44px;
			font-weight: $font-weight-medium;
			font-size: px-to-rem( 18px ) !important;
			text-transform: uppercase;

			@include media-breakpoint-up( sm ) {
				max-width: 220px !important;
			}

			@include media-breakpoint-up( md ) {
				max-width: 100% !important;
			}

			@media screen and ( min-width: 768px ) and ( max-width: 840px ) {
				font-size: px-to-rem( 16px ) !important;
			}
		}

		.btn-white {
			border-color: $midnight-blue;

			@include media-breakpoint-up( md ) {
				display: flex;
				align-items: center;
				justify-content: center;
				font-size: px-to-rem( 15px ) !important;
			}

			@media screen and ( min-width: 768px ) and ( max-width: 850px ) {
				font-size: px-to-rem( 14px ) !important;
				line-height: 1.2;
			}

			@include media-breakpoint-up( lg ) {
				font-size: px-to-rem( 18px ) !important;
			}

			&:hover {
				border-color: $midnight-blue;
			}
		}
	}

	&__promo-image {
		width: 100%;
	}

	&_grid {
		justify-content: space-between;
		max-width: 1080px;
		line-height: 10px;

		.monthly {
			display: block;
		}

		.yearly {
			display: none;
		}
	}

	&_column-price {
		color: $midnight-blue;
		background: transparent;

		&__numerical {
			text-align: center;

			@include media-breakpoint-up( md ) {
				max-width: 175px;
				text-align: left;
			}

			@include media-breakpoint-up( lg ) {
				max-width: 100%;
			}

			&.monthly {
				.pricing-table_column-price {
					&__term {
						@include media-breakpoint-up( md ) {
							left: -0.4rem;
						}

						@media screen and ( min-width: 768px ) and ( max-width: 850px ) {
							font-size: px-to-rem( 12px ) !important;
						}

						@include media-breakpoint-up( lg ) {
							bottom: 1.7rem;
							left: -0.8rem;
						}
					}
				}
			}

			&.yearly {
				.pricing-table_column-price {
					&__term {
						@include media-breakpoint-up( md ) {
							left: 5.6rem;
						}

						@include media-breakpoint-up( lg ) {
							bottom: 1.7rem;
							left: -0.8rem;
						}
					}
				}
			}
		}

		&__value {
			height: 166px;

			@include media-breakpoint-up( lg ) {
				height: 166px;
			}

			h3 {
				margin-bottom: 24px;
				font-weight: $font-weight-bold;
				font-size: px-to-rem( 48px );
				line-height: 40px;

				@include media-breakpoint-up( md ) {
					font-size: px-to-rem( 34px );
				}

				@include media-breakpoint-up( lg ) {
					font-size: px-to-rem( 48px );
				}

				&.select {
					text-align: center;

					@include media-breakpoint-up( md ) {
						text-align: left;
					}
				}
			}
		}

		&__currency {
			left: -3rem;
			margin-right: -1.1rem;
			margin-left: 6px;
			font-size: px-to-rem( 32px );
			vertical-align: unset;

			@include media-breakpoint-up( md ) {
				left: -0.5rem;
			}

			@include media-breakpoint-up( lg ) {
				left: -0.5rem;
			}
		}

		&__dollar {
			margin-left: -40px;
			font-weight: $font-weight-bold;
			font-size: px-to-rem( 48px );

			@include media-breakpoint-up( md ) {
				margin-left: 0;
			}
		}

		&__cents {
			top: 6px;
			left: 0;
			font-weight: $font-weight-bold;
			font-size: px-to-rem( 32px ) !important;
		}

		&__term {
			bottom: 1.5rem;
			left: -0.4rem;
			margin-right: -3.5rem;
			color: $midnight-blue;
			font-size: px-to-rem( 16px ) !important;

			@include media-breakpoint-up( md ) {
				left: -0.4rem;
			}

			@include media-breakpoint-up( lg ) {
				bottom: 1.7rem;
				left: -0.8rem;
			}
		}

		&__subtext {
			display: flex;
			flex-direction: column;
			align-items: center;
			height: 54px;
			margin-top: 16px;
			margin-bottom: 25px;

			@include media-breakpoint-up( md ) {
				align-items: flex-start;
			}
		}

		&__text {
			color: $midnight-blue;
			font-weight: $font-weight-medium;
			font-size: px-to-rem( 16px );
			line-height: 20px;
			text-align: center;

			@include media-breakpoint-up( lg ) {
				padding-right: 20px;
				text-align: left;
			}
		}

		&__promo-text {
			margin-bottom: 4px;
			padding: 1px 7px;
			color: $white;
			font-weight: $font-weight-medium;
			font-size: px-to-rem( 16px );
			background-color: $fresh-blue;
			border-radius: 5px;

			@include media-breakpoint-up( md ) {
				margin-bottom: 0;
				padding: 0;
				color: $fresh-blue;
				background-color: $white;
			}
		}

		&__promo-save-text {
			color: $midnight-blue;
			font-size: px-to-rem( 14px );
		}
	}

	&_column-secondary-link {
		font-size: px-to-rem( 16px );

		&.select {
			opacity: 0;
			pointer-events: none;
		}
	}

	&_column-features {
		display: none;
		order: 9;

		@include media-breakpoint-up( md ) {
			display: block;
			order: unset;
		}

		&__title {
			margin-bottom: 25px;
			color: $midnight-blue;
			font-weight: $font-weight-medium;
			font-size: px-to-rem( 18px );
			line-height: 20px;
		}

		&__expand-link {
			padding-right: 12px;
			text-decoration: none !important;
			background-image: url( ./../../../images/icons/arrow-right-fresh-blue-old.svg );
			background-repeat: no-repeat;
			background-position: bottom 2px right;
			background-size: 8px;
		}

		&__points {
			margin-bottom: 10px;
			padding: 0;

			a {
				color: $midnight-blue;
				text-decoration: none;

				&:hover {
					color: $midnight-blue;
					text-decoration: none;
				}
			}
		}

		&__link {
			position: relative;
			display: block;
			width: 100%;
			padding-right: 30px;
		}

		&__point {
			position: relative;
			font-size: px-to-rem( 15px );
			list-style-type: none;

			&.bold {
				font-weight: $font-weight-medium;
			}

			a {
				color: $midnight-blue;

				&:hover {
					color: $midnight-blue;
					text-decoration: underline;
				}
			}
		}

		&__info {
			position: absolute;
			top: 4px;
			right: 0;
			display: flex;
			align-items: center;
			justify-content: center;
			width: 13px;
			height: 13px;
			color: #50697b !important;
			font-weight: $font-weight-medium;
			font-size: px-to-rem( 10px );
			line-height: 1;
			text-decoration: none !important;
			border: 1px solid #50697b;
			border-radius: 50%;

			&:hover {
				color: #50697b;
			}
		}
	}

	&_column-mobile-features {
		text-align: center;

		&__title {
			margin-bottom: 5px;
			color: $midnight-blue;
			font-weight: $font-weight-medium;
			font-size: px-to-rem( 18px );
			line-height: 20px;
		}

		&__details {
			position: relative;
			display: inline-flex;
			align-items: center;
			justify-content: center;
			order: 10;
			margin-top: 30px;
			margin-bottom: 45px;
			padding-right: 12px;
			color: $midnight-blue;
			font-size: px-to-rem( 16px );
			text-decoration: none !important;

			&::after {
				display: inline-block;
				width: 10px;
				height: 12px;
				margin-left: 6px;
				background-image: url( ./../../../images/icons/arrow-right-fresh-blue-old.svg );
				background-repeat: no-repeat;
				background-position: center;
				background-size: 8px;
				transform: rotate( 90deg );
				content: '';
			}
		}
	}

	&_column-addons {
		min-height: unset;
		background: $white;

		@include media-breakpoint-up( md ) {
			min-height: 250px;
		}
	}

	&_column-addon {
		display: flex;
		flex-direction: column;
		padding-left: 20px;

		&__plus {
			position: absolute;
			top: 0;
			left: 0;
			font-weight: $font-weight-medium;
			font-size: px-to-rem( 20px );
			line-height: 1;
		}

		&__title {
			font-size: px-to-rem( 15px );
			line-height: 20px;
		}

		&__subtext {
			font-weight: $font-weight-medium;
			font-size: px-to-rem( 15px );
			line-height: 18px;
		}
	}

	&_column-footer {
		position: relative;
		bottom: unset;
		display: none;
		order: 10;
		margin-top: auto;
		background: $white;

		@include media-breakpoint-up( md ) {
			order: unset;
			margin-bottom: px-to-rem( 40 );
		}

		@include media-breakpoint-up( xl ) {
			margin-bottom: px-to-rem( 80 );
		}

		&-buttons {
			bottom: 0;
			left: 0;
		}
	}

	&_column.recommended {
		background: #002d79;
		transition: all 0.2s;

		.pricing-table {
			&__title,
			&_column-price__text,
			&_column-label__title,
			&_column-price,
			&_column-price__term,
			&_column-price__promo-save-text,
			&_column-features__title,
			&_column-features__point,
			&_column-features__expand-link,
			&_column-secondary-link {
				color: $white;

				a:not( .btn ) {
					color: $white;

					&:hover {
						color: $white;
					}
				}
			}

			&_column-price {
				padding-bottom: 1.5rem !important;

				@include media-breakpoint-up( md ) {
					padding-bottom: 0.5rem !important;
				}
			}

			.btn-white {
				color: $midnight-blue;
			}

			&_column-price__promo-text {
				color: #002d79;
				background-color: #ffefc3;

				@include media-breakpoint-up( md ) {
					color: #ffefc3;
					background: transparent;
				}
			}

			&_column-mobile-features {
				&__title {
					color: $white;
				}

				&__details {
					color: $white;

					&::after {
						background-image: url( ./../../../images/icons/arrow-right-white2.svg );
					}
				}
			}

			&_column-addons,
			&_column-footer {
				background: #002d79;
			}

			&_column-features {
				&__expand-link {
					background-image: url( ./../../../images/icons/arrow-right-white2.svg );
				}
			}

			&_column-badge {
				display: block;
			}
		}
	}

	&__swiper-container {
		margin-right: auto;
		margin-left: auto;
	}

	&__swiper-button {
		top: 405px !important;
		width: 35px !important;
		height: 75px;
		background-color: $fresh-blue;
		transform: translateY( -50% );

		&--prev {
			left: 0;
			border-radius: 0 8px 8px 0;
		}

		&--next {
			right: 0;
			border-radius: 8px 0 0 8px;

			&::after {
				transform: rotate( 180deg );
			}
		}

		&::after {
			width: 16px;
			height: 20px;
			background: url( ./../../../images/icons/arrow-left-light.svg ) no-repeat center;
			background-size: contain;
			opacity: 0.5;
			content: '';
		}
	}

	&[data-mobile-carousel='true'] {
		overflow: visible;

		.pricing-table {
			&__swiper-button {
				top: 50%;
			}

			&_column {
				margin-top: 0;
			}
		}
	}

	&[data-show*='lite'] {
		[data-plan='lite'] {
			display: flex !important;

			@include media-breakpoint-up( md ) {
				opacity: 1;
				pointer-events: auto;
			}
		}
	}

	&[data-show*='plus'] {
		[data-plan='plus'] {
			display: flex !important;

			@include media-breakpoint-up( md ) {
				opacity: 1;
				pointer-events: auto;
			}
		}
	}

	&[data-show*='premium'] {
		[data-plan='premium'] {
			display: flex !important;

			@include media-breakpoint-up( md ) {
				opacity: 1;
				pointer-events: auto;
			}
		}
	}

	&[data-show*='select'] {
		[data-plan='select'] {
			display: flex !important;

			@include media-breakpoint-up( md ) {
				opacity: 1;
				pointer-events: auto;
			}
		}
	}

	&[data-term='yearly'] {
		.yearly {
			display: block;
		}

		.monthly {
			display: none;
		}
	}

	&[data-term='monthly'] {
		.yearly {
			display: none;
		}

		.monthly {
			display: block;
		}
	}
}

.modal-full {
	max-width: 1600px;
}

.modal-dialog {
	max-width: 100% !important;
}

.pricing-modal {
	.modal {
		&__column {
			iframe {
				max-width: 100%;
			}

			img {
				max-width: 100%;
				max-height: 320px;
			}
		}

		&__content {
			border: none;
			border-radius: 0;

			&::before {
				@include media-breakpoint-up( xl ) {
					position: absolute;
					top: 0;
					left: calc( 0px - ( 100vw - 100% ) / 2 );
					z-index: -1;
					width: 100vw;
					height: 100%;
					background: $white;
					content: '';
				}
			}
		}

		&__content-wrapper {
			width: 100%;
			max-width: 1080px;
			margin: 0 auto;
		}

		&__heading {
			font-size: px-to-rem( 28px );
			line-height: 36px;

			@include media-breakpoint-up( md ) {
				font-size: px-to-rem( 36px );
				line-height: 42px;
			}
		}

		&__cta {
			width: 100%;
			max-width: 220px;
			height: 44px;
			font-weight: $font-weight-medium;
			font-size: px-to-rem( 18px );
			text-transform: uppercase;

			&.btn-white {
				border-color: $midnight-blue;

				&:hover {
					border-color: $midnight-blue;
				}
			}
		}

		&__contact {
			display: flex;
			align-items: center;
			justify-content: center;
			margin-top: 40px;

			p {
				min-width: 140px;
				margin-right: 6px;
				margin-bottom: 0;
				color: #405470;
				font-size: px-to-rem( 16px );
				line-height: 20px;
				text-align: left;
			}

			.btn {
				display: flex;
				align-items: center;
				justify-content: center;
				max-width: 152px;
				height: 37px;
				padding-right: 8px;
				padding-left: 8px;
				font-size: px-to-rem( 16px );

				img {
					margin-right: 7px;
				}
			}
		}
	}
}

.comparison-table {
	position: relative;
	padding-top: 58px;

	@include media-breakpoint-up( sm ) {
		padding-top: 123px;
	}

	tbody {
		th {
			a {
				color: $midnight-blue;

				&:hover {
					color: $midnight-blue;
				}
			}
		}
	}

	&__info {
		display: inline-flex;
		align-items: center;
		justify-content: center;
		width: 13px;
		height: 13px;
		margin-left: 6px;
		color: #50697b !important;
		font-weight: $font-weight-medium;
		font-size: px-to-rem( 10px );
		line-height: 1;
		text-decoration: none !important;
		border: 1px solid #50697b;
		border-radius: 50%;

		&:hover {
			color: #50697b;
		}
	}

	&__header-row {
		font-size: px-to-rem( 18px );

		&_trial-title {
			@include media-breakpoint-up( md ) {
				font-size: px-to-rem( 22px );
			}
		}

		&_cell-title {
			@include media-breakpoint-up( sm ) {
				color: $midnight-blue;
			}
		}

		&_cell-price {
			.yearly {
				display: none;
			}
		}

		tr {
			th {
				&:not( :last-child ) {
					@include media-breakpoint-up( sm ) {
						border-right: 1px solid #cdd4d9 !important;
					}
				}
			}
		}

		&_cell-cta {
			&.btn-white {
				border-color: #001b40;
			}
		}
	}

	&__header-sticky {
		position: absolute;
		top: -5px;
		left: 0;
		z-index: 2;
		align-items: center;
		width: 100%;
		max-width: 1150px;
		margin-bottom: 8px;
		background: $white;
		border: 1px solid #cdd4d9;
		border-radius: 0 0 8px 8px;

		@include media-breakpoint-up( lg ) {
			left: 50%;
			transform: translateX( -50% );
		}

		th {
			&:first-child {
				border-top-left-radius: 0;
				border-bottom-left-radius: 8px;
			}

			&:last-child {
				border-top-right-radius: 0;
				border-bottom-right-radius: 8px;
			}
		}

		&-wrapper {
			display: none;
			text-align: left;
		}

		&-label {
			display: block;
			margin-bottom: -3px;
			color: #333;
			font-weight: 400;
			font-size: px-to-rem( 16px );
		}

		&-title {
			width: auto;
		}

		&-link {
			font-weight: $font-weight-normal;
			text-decoration: underline;

			&:hover {
				text-decoration: none;
			}
		}

		&.before-sticky {
			top: -123px;
			transition: top 0.2s;
		}

		&.sticky {
			position: fixed;
			top: 50px;
			left: 0;
			transform: none;

			@include media-breakpoint-up( lg ) {
				top: 54px;
				left: 50%;
				transform: translateX( -50% );
			}

			@media screen and ( min-width: 1025px ) {
				top: 81px;
			}

			@media screen and ( min-width: 1086px ) {
				top: 58px;
			}

			&.has-promo-banner {
				top: 86px;

				@media screen and ( min-width: 1025px ) {
					top: 125px;
				}

				@media screen and ( min-width: 1166px ) {
					top: 99px;
				}
			}

			.not-sticky {
				display: none !important;
			}

			.on-sticky {
				display: block;
			}
		}

		&.on-bottom {
			position: absolute;
			top: calc( 100% - 123px );
			transition: top 0s;
		}

		.comparison-table__header-row {
			height: 123px;
		}
	}

	&__mobile-header-sticky {
		position: absolute;
		top: 0;
		left: 0;
		z-index: 2;
		width: 100%;
		height: 58px;
		padding: 14px 13px;
		background-color: #0075dd;

		ul {
			display: flex;
			justify-content: space-around;
			margin-bottom: 0;
			padding: 0;

			li {
				display: flex;
				align-items: center;
				justify-content: center;
				height: 30px;
				margin-bottom: 0;
				padding: 1px 14px 3px;
				color: $white;
				font-weight: $font-weight-medium;
				font-size: px-to-rem( 18px );
				list-style-type: none;
				border-radius: 14px;
				cursor: pointer;

				@media screen and ( min-width: 380px ) {
					padding: 2px 18px 4px;
					font-size: px-to-rem( 20px );
				}

				&.active {
					background-color: #002d79;
				}
			}
		}

		&.before-sticky {
			top: -58px;
			transition: top 0.2s;
		}

		&.sticky {
			position: fixed;
			top: 51px;

			&.has-promo-banner {
				top: 82px;
			}
		}

		&.on-bottom {
			position: absolute;
			top: calc( 100% - 58px );
			transition: top 0s;
		}
	}

	&__category-plan {
		th {
			color: $white !important;
			background-color: #002d79;

			&:first-child {
				@include media-breakpoint-up( sm ) {
					border-top-left-radius: 8px;
				}
			}

			&:last-child {
				@include media-breakpoint-up( sm ) {
					border-top-right-radius: 8px;
				}
			}
		}

		&_gap {
			display: none;

			@include media-breakpoint-up( sm ) {
				display: table-row;
			}
		}
	}

	tr:nth-of-type( 2n ):not( .comparison-table__category-plan_gap ) {
		background-color: #fff9e8 !important;
	}

	&__category-table {
		th,
		td {
			font-size: px-to-rem( 16px );

			@include media-breakpoint-up( sm ) {
				font-size: px-to-rem( 10px );
			}

			@include media-breakpoint-up( md ) {
				font-size: px-to-rem( 16px );
			}
		}
	}

	th,
	td {
		border: 0 !important;

		&:first-child {
			width: calc( 100vw - 100px );

			@include media-breakpoint-up( sm ) {
				width: calc( 100vw - 320px );
			}

			@include media-breakpoint-up( md ) {
				width: calc( 100vw - 416px );
			}

			@include media-breakpoint-up( lg ) {
				width: calc( 100vw - 558px );
			}

			@include media-breakpoint-up( xl ) {
				width: auto;
			}
		}

		&:not( :first-child ) {
			width: 100px;

			@include media-breakpoint-up( sm ) {
				width: 80px;
			}

			@include media-breakpoint-up( md ) {
				width: 104px;
			}

			@include media-breakpoint-up( lg ) {
				width: 132px;
			}

			@include media-breakpoint-up( xl ) {
				width: 186px;
			}
		}
	}

	&[data-selected='lite'] {
		th,
		td {
			&:nth-child( 3 ),
			&:nth-child( 4 ),
			&:nth-child( 5 ) {
				display: none !important;

				@include media-breakpoint-up( sm ) {
					display: table-cell !important;
				}
			}
		}
	}

	&[data-selected='plus'] {
		th,
		td {
			&:nth-child( 2 ),
			&:nth-child( 4 ),
			&:nth-child( 5 ) {
				display: none !important;

				@include media-breakpoint-up( sm ) {
					display: table-cell !important;
				}
			}
		}
	}

	&[data-selected='premium'] {
		th,
		td {
			&:nth-child( 2 ),
			&:nth-child( 3 ),
			&:nth-child( 5 ) {
				display: none !important;

				@include media-breakpoint-up( sm ) {
					display: table-cell !important;
				}
			}
		}
	}

	&[data-selected='select'] {
		th,
		td {
			&:nth-child( 2 ),
			&:nth-child( 3 ),
			&:nth-child( 4 ) {
				display: none !important;

				@include media-breakpoint-up( sm ) {
					display: table-cell !important;
				}
			}
		}
	}

	.btn-outline-grey {
		font-weight: $font-weight-medium;
	}

	.cell-label {
		p {
			margin-right: 6px;
			margin-bottom: 0;
			font-size: px-to-rem( 14px );

			@include media-breakpoint-up( md ) {
				font-size: px-to-rem( 22px );
			}
		}

		.toggle {
			@include media-breakpoint-up( md ) {
				margin-top: 4px;
			}
		}
	}

	.toggle {
		display: block;
		width: 17px;
		height: 17px;
		background-image: url( ./../../../images/icons/eye-hide-white.svg );
		background-repeat: no-repeat;
		background-position: center;
		background-size: contain;

		&.blue {
			width: auto;
			height: auto;
			padding-right: 19px;
			background-image: url( ./../../../images/icons/eye-hide-freshpress-blue.svg );
			background-position: bottom 3px right;
			background-size: 16px;

			&::before {
				color: #0075dd;
				font-weight: $font-weight-normal;
				content: 'Show';
			}
		}
	}

	td {
		opacity: 0;
		transition: opacity 0.2s;
	}

	.comparison-table__header-text {
		opacity: 0.6;

		* {
			font-size: px-to-rem( 19px );
		}
	}

	.cell-content {
		.btn-cta-green {
			padding: 0.375rem 0.45rem;
			color: $midnight-blue;
			font-weight: $font-weight-medium;
			font-size: px-to-rem( 15px );
			text-transform: uppercase;
			background-color: $white;
			border-color: rgba( 6, 41, 66, 0.2 );
			opacity: 0.6;
			pointer-events: none;
		}
	}

	&[data-show*='lite'] {
		th,
		td {
			&:nth-child( 2 ) {
				.toggle {
					background-image: url( ./../../../images/icons/eye-white.svg );

					&.blue {
						background-image: url( ./../../../images/icons/eye-freshpress-blue.svg );

						&::before {
							content: 'Hide';
						}
					}
				}

				.comparison-table__header-text {
					opacity: 1;
				}

				.cell-content {
					.btn-cta-green {
						color: $white;
						background-color: #36a900;
						border-color: #36a900;
						opacity: 1;
						pointer-events: auto;
					}
				}
			}
		}

		td {
			&:nth-child( 2 ) {
				opacity: 1;
			}
		}
	}

	&[data-show*='plus'] {
		th,
		td {
			&:nth-child( 3 ) {
				.toggle {
					background-image: url( ./../../../images/icons/eye-white.svg );

					&.blue {
						background-image: url( ./../../../images/icons/eye-freshpress-blue.svg );

						&::before {
							content: 'Hide';
						}
					}
				}

				.comparison-table__header-text {
					opacity: 1;
				}

				.cell-content {
					.btn-cta-green {
						color: $white;
						background-color: #36a900;
						border-color: #36a900;
						opacity: 1;
						pointer-events: auto;
					}
				}
			}
		}

		td {
			&:nth-child( 3 ) {
				opacity: 1;
			}
		}
	}

	&[data-show*='premium'] {
		th,
		td {
			&:nth-child( 4 ) {
				.toggle {
					background-image: url( ./../../../images/icons/eye-white.svg );

					&.blue {
						background-image: url( ./../../../images/icons/eye-freshpress-blue.svg );

						&::before {
							content: 'Hide';
						}
					}
				}

				.comparison-table__header-text {
					opacity: 1;
				}

				.cell-content {
					.btn-cta-green {
						color: $white;
						background-color: #36a900;
						border-color: #36a900;
						opacity: 1;
						pointer-events: auto;
					}
				}
			}
		}

		td {
			&:nth-child( 4 ) {
				opacity: 1;
			}
		}
	}

	&[data-show*='select'] {
		th,
		td {
			&:nth-child( 5 ) {
				.toggle {
					background-image: url( ./../../../images/icons/eye-white.svg );

					&.blue {
						background-image: url( ./../../../images/icons/eye-freshpress-blue.svg );

						&::before {
							content: 'Hide';
						}
					}
				}

				.comparison-table__header-text {
					opacity: 1;
				}

				.cell-content {
					.btn-cta-green {
						color: $white;
						background-color: #36a900;
						border-color: #36a900;
						opacity: 1;
						pointer-events: auto;
					}
				}
			}
		}

		td {
			&:nth-child( 5 ) {
				opacity: 1;
			}
		}
	}

	&[data-term='monthly'] {
		.comparison-table__header-row_cell-price {
			.monthly {
				display: block;
			}

			.yearly {
				display: none;
			}
		}
	}

	&[data-term='yearly'] {
		.comparison-table__header-row_cell-price {
			.monthly {
				display: none;
			}

			.yearly {
				display: block;
			}
		}
	}
}

// Change order of the content - WSB-4584
#main-content > .container-fluid {
	display: flex;
	flex-direction: column;

	> .promo-hero {
		order: 1;
	}

	> .pricing-table {
		order: 2;
	}

	> .columns.mw-980 {
		order: 3;
	}

	> .comparison-table {
		order: 4;
	}

	> .flexible-colour-background {
		order: 5;
	}

	> .section-heading_main {
		order: 6;
	}

	> .testimonial-blocks {
		order: 7;
	}

	> .faq {
		order: 8;
	}

	> .new-cta-bar {
		order: 9;
	}
}
