@import '~styles/freshpress-includes';

.related-links {
	&__container {
		&.cards-grid {
			display: flex;
			flex-wrap: wrap;
		}
	}

	&__card-image {
		height: 0;
		padding-top: 56.25%;
		background-repeat: no-repeat;
		background-position: center;
		background-size: cover;
	}

	&__card-link {
		color: $black;
		font-weight: $font-weight-medium;
		font-size: px-to-rem( 15 );
	}

	&__list-dropdown-wrapper {
		width: 90%;
		max-width: 300px;
		font-size: px-to-rem( 18px );
		background-color: $white;
		background-image: url( ./../../../../assets/images/icons/chevron-down.svg );
		background-repeat: no-repeat;
		background-position: right 7px center;
		background-size: 18px 10px;
		border: 2px solid $table-grey; // TODO.
		border-radius: 4px;
	}

	&__list-dropdown {
		width: 130%;
		background: transparent;
		background-image: none;
		border-radius: 4px;
		outline: none;
		box-shadow: none;
		appearance: none;

		::-ms-expand {
			display: none;
		}
	}

	&__list-item {
		a {
			color: inherit;
		}

		&_simple-list {
			a {
				margin-bottom: 0.5rem;
			}
		}

		&_taxonomy,
		&_list-with-bg {
			margin: 0;

			a {
				display: block;
				margin: 0;
				padding: 15px;
				line-height: 1;

				&:hover {
					color: $fresh-blue;
					background-color: $light-blue-highlight;
				}
			}

			&.active {
				a {
					color: $fresh-blue;
					background-color: $light-blue-highlight;
				}
			}
		}
	}
}
