<div id="{{ tile_id }}" class="icon-tiles__tile px-4 col">
    {{{ icon_tiles_tile_image }}}
    {{# icon_tiles_tile_title }}
        <h3 class="icon-tiles__tile-title text-center text-uppercase mb-3">{{ icon_tiles_tile_title }}</h3>
    {{/ icon_tiles_tile_title }}
    {{# icon_tiles_tile_description }}
        <div class="icon-tiles__tile-description text-center">{{ icon_tiles_tile_description }}</div>
    {{/ icon_tiles_tile_description }}

	{{{ admin_controls }}}
</div>
