<div class="vat-table-container">
	{{# vat_table__title }}
	<div class="vat-table__title">
		{{{ vat_table__title }}}
	</div>
	{{/ vat_table__title }}
	<div class="vat-table__cell">
		{{# vat_table_cell }}
			{{> table }}
		{{/ vat_table_cell }}
	</div>
</div>