<div class="vat-table__cell__wrapper">
	{{# vat_table_cell__title }}
		<span class="vat-table__cell__title">{{{ vat_table_cell__title }}}</span>
	{{/ vat_table_cell__title }}
	{{# vat_table_cell__text }}
		<span class="vat-table__cell__description">{{{ vat_table_cell__text }}}</span>
	{{/ vat_table_cell__text }}
</div>
