<div class="feature-grid__tile feature-grid__tile--image-tile position-relative">
	{{{ admin_controls }}}

	<div class="row h-100">
		<div class="col-12 col-lg-6">
			<p class="feature-grid__tile-heading font-weight-medium mb-2 text-white h4">
				{{ heading }}
			</p>
			<p class="feature-grid__tile-description text-white-50">
				{{ description }}
			</p>
		</div>
		<div class="col-12 col-lg-6 d-none d-lg-block align-self-center">
			{{{ image }}}
		</div>
	</div>
</div>

