<div class="feature-grid__tile position-relative">
	{{{ admin_controls }}}

	<p class="feature-grid__tile-heading font-weight-medium mb-2 text-white h4">
		{{ heading }}
	</p>
	<p class="feature-grid__tile-description text-white-50">
		{{ description }}
	</p>
	{{{ image }}}
</div>


