// Accounting Partners Detail CTA.

@import '~styles/freshpress-includes';

.accounting-partners-detail-cta {
	margin: 0;
	&__top {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		margin-bottom: 16px;
		padding: 32px 5px;
		border: 1px solid $outline-grey;
		border-radius: 8px;
		box-shadow: 6px 6px 0 rgba( $outline-grey, 0.3 );

		@include media-breakpoint-up( md ) {
			padding: 33px 32px 33px;
		}
		@include media-breakpoint-up( xl ) {
			flex-direction: row;
			justify-content: space-between;
			padding: 45px 37px 45px 43px;
		}
	}
	&__bottom {
		p {
			margin-bottom: 0;
			color: $light-grey;
			font-size: px-to-rem( 14 );
			line-height: px-to-rem( 16 );
			text-align: center;
			@include media-breakpoint-up( md ) {
				text-align: left;
			}
		}
	}
	&__title {
		width: 540px;
		max-width: 100%;
		margin-bottom: 24px;
		font-size: px-to-rem( 30 );
		line-height: px-to-rem( 28 );
		text-align: center;
		@include media-breakpoint-up( xl ) {
			width: 413px;
			margin-bottom: 0;
			font-size: px-to-rem( 36 );
			line-height: px-to-rem( 36 );
			text-align: left;
		}
	}
	.btn {
		margin-bottom: 0;
		padding: 11px 22px;
	}
}
