// Two Columns Text.

@import '~styles/freshpress-includes';

.two-columns-text {
	position: relative;
	margin: 0 -15px;
	padding: 50px 0 50px;
	color: $midnight-blue;

	@include media-breakpoint-up( md ) {
		padding: 84px 0 84px;
	}
	@include media-breakpoint-up( lg ) {
		padding: 140px 0 140px;
	}
	&__default-crop {
		@include media-breakpoint-up( xl ) {
			&::before {
				position: absolute;
				top: auto;
				right: 0;
				bottom: -1px;
				left: auto;
				z-index: 1;
				display: block;
				width: 350px;
				height: 350px;
				background-image: url( ./../../../assets/images/vat-calculator/curve-right-bottom.svg );
				background-size: 350px 350px;
				content: '';
			}
		}
		@media ( min-width: 1440px ) {
			&::before {
				width: 450px;
				height: 450px;
				background-size: 450px 450px;
			}
		}
	}

	&__default-color {
		background-color: $light-cream;
	}

	&__container {
		position: relative;
		z-index: 3;
		display: flex;
		align-items: center;
		justify-content: center;
		width: 1199px;
		max-width: 100%;
		margin: 0 auto;
		padding: 0 22px;
	}

	&__content {
		&_left {
			text-align: center;
			@include media-breakpoint-up( md ) {
				width: 75%;
			}
			@include media-breakpoint-up( xl ) {
				width: 900px;
			}
			h2 {
				margin-bottom: 20px;
				font-size: px-to-rem( 26 );
				line-height: px-to-rem( 30.94 );
				@include media-breakpoint-up( md ) {
					font-size: px-to-rem( 36 );
					line-height: px-to-rem( 43 );
				}
				@include media-breakpoint-up( lg ) {
					font-size: px-to-rem( 38 );
					line-height: px-to-rem( 45 );
				}
			}
			p {
				margin-top: 20px;
				margin-bottom: 0;
				font-size: px-to-rem( 16 );
				line-height: px-to-rem( 19.04 );
				strong {
					font-weight: 500;
				}
				&:first-child {
					margin-top: 0 !important;
				}

				@include media-breakpoint-up( lg ) {
					margin-top: 30px;
					font-size: px-to-rem( 18 );
					line-height: px-to-rem( 26 );
				}
			}
		}
	}
}
