<li>
	{{# vat_steps_step__title }}
		<span class="vat-steps__title">{{{ vat_steps_step__title }}}</span>
	{{/ vat_steps_step__title }}
	{{# vat_steps_step__text }}
		<span class="vat-steps__description">{{{ vat_steps_step__text }}}</span>
	{{/ vat_steps_step__text }}
</li>
