<div class="stat-tiles__block d-flex flex-column">
    <span class="stat-tiles__number">{{ number }}</span>
    <span class="stat-tiles__description px-3 px-md-0 mx-auto">{{{ description }}}</span>
</div>
