<div class="timeline-vertical__stage position-relative pl-5">
    <h5 class="timeline-vertical__stage-date px-md-4 mb-4">{{ date }}</h5>
    <h4 class="timeline-vertical__stage-title px-md-4 mb-3">{{ title }}</h4>
    <div class="timeline-vertical__stage-description px-md-4">
        <p>{{{ description }}}</p>
    </div>
    {{ admin_controls }}
</div>
