<div class="rating__top mb-1 mr-3">
	<div class="rating__category mr-2 position-relative d-inline-block">
		{{ get_app_rating_text }}
	</div>
	{{{ rating_image }}}
</div>
<div class="rating__description position-relative">
	{{{ rating_link }}}
</div>

