<div class="integrations__hero">
    <div class="integrations__info columns row text-center text-md-left">
        <div class="integrations__text-container order-1 order-md-2 column col col-12 col-md-8 mx-auto mx-md-0 mb-4 mb-md-0 p-0">

            <div class="integrations__title-container align-items-end m-auto m-md-0">
                <h1 class="integrations__title">Test Integration</h1>
            </div>

            <a class="btn-cta-green btn d-inline-block m-auto m-md-0" href="https://cta-url.com" target="#cta-target">
                <p class="integrations__cta-title d-inline">Try Test Integration</p>
            </a>

        </div>
    </div>
</div>

<div class="integrations__content mb-5 mb-lg-0">
    <div class="fp-block columns row my-0 wp-block-acf-columns mt-5">
        <div class="column wp-block-acf-column integrations__sidebar col col-12 col-lg-3 mx-auto pr-0 pr-lg-5 order-2 order-lg-1 pt-3">
            <h3 class="integrations__sidebar-subtitle text-left pb-3 mb-3 d-none d-lg-block">On This Page</h3>

            <div class="fp-block related-links wp-block-acf-related-links mb-5 ml-0 ml-lg-3 d-none d-lg-block m-0 w-100" data-use-anchors="false">
                <ul class="related-links__container simple-list p-0 list-unstyled">
                    <li data-menu-item="about-test-integration" class="related-links__list-item related-links__list-item_simple-list current">
                        <a class="text-decoration-none" href="#about-test-integration">About Test Integration</a>
                    </li>
                    <li data-menu-item="how-it-works-with-freshbooks" class="related-links__list-item related-links__list-item_simple-list">
                        <a class="text-decoration-none" href="#how-it-works-with-freshbooks">How it Works With FreshBooks</a>
                    </li>
                    <li data-menu-item="how-to-connect" class="related-links__list-item related-links__list-item_simple-list">
                        <a class="text-decoration-none" href="#how-to-connect">How To Connect</a>
                    </li>
                </ul>
            </div>
        </div>


        <div class="column wp-block-acf-column integrations__main-content col col-12 col-lg-9 mx-auto order-1 order-lg-2 mb-5">
            <h2 id="about-test-integration">About Test Integration</h2>
            <p class="p1">Test Integration is for test purpose only.</p>

            <h2 class="mt-4" id="how-it-works-with-freshbooks">How it Works With FreshBooks</h2>
            <p class="p1">It is experimental function.</p>

            <h2 class="mt-4" id="how-to-connect">How To Connect</h2>
            <p class="p1">Just install and use it.</p>
        </div>
    </div>
</div>