<th
    style="{{# background_colour.hex }}background-color:{{ background_colour.hex }};{{/ background_colour.hex }}{{# width }}width:{{ width }};{{/ width }}"
    class="mw-100 align-middle text-center {{# table_rotate_titles }} rotate-mobile{{/ table_rotate_titles }}" scope="col"
>
    <span>{{ heading }}</span>
    {{{ admin_column_controls }}}
</th>