<div class="wp-block-fpbk-partner-feature__card wp-block-fpbk-partner-feature__card_{{ partner_feature_block_position }} d-inline-flex align-items-center justify-content-center px-3 px-sm-4 py-4 p-md-5">
	{{# partner_feature_image }}
		{{{ partner_feature_image }}}
	{{/ partner_feature_image }}
	{{# partner_feature_text }}
		<p class="wp-block-fpbk-partner-feature__text wp-block-fpbk-partner-feature__text_{{ partner_feature_font_size }} my-auto mx-0 mx-sm-4 text-center {{ text_class }}">
            {{{ partner_feature_text }}}
		</p>
	{{/ partner_feature_text }}
</div>
