<div>
	<h2 class="icons-list__title text-center">{{{ icons_list_title }}}</h2>

	<div class="icons-list__topics row">
		{{# icons_list_topic }}
			{{> topic }}
		{{/ icons_list_topic }}
	</div>
	<!-- /.icons-list__topics -->
</div>
