<div class="box__bordered border rounded d-flex flex-column flex-lg-row align-items-center justify-content-center mx-auto">
	<div class="box__copy text-center text-lg-left">
		{{{ copy }}}
	</div>
	{{# cta.html }}
		{{{ cta.html }}}
	{{/ cta.html }}
	{{^ cta.html }}
		{{{ cta }}}
	{{/ cta.html }}
</div>
