<div id="integrations-taxonomy__main-content" class="integrations-taxonomy__main-content columns row pt-5">
    <div class="integrations-taxonomy__left-column col col-12 col-lg-3 mx-auto p-0 pr-lg-5">
        <div id="integrations-taxonomy__navigation-wrapper"
             class="integrations-taxonomy__navigation-wrapper border-md border-primary rounded border-lg-0 px-3 py-3 py-lg-0 mx-md-3">
            <div class="integrations-taxonomy__navigation-header d-flex justify-content-between d-lg-none mb-5">
                <div class="integrations-taxonomy__navigation-group-by">Group By</div>
                <a id="integrations-taxonomy__navigation-close" class="integrations-taxonomy__navigation-close d-block"
                   aria-label="Close"></a>
            </div>

            <div class="integrations-taxonomy__navigation-inner-wrapper pb-3 d-md-flex row wrap px-3">
                <div class="integrations-taxonomy__navigation-collections-wrapper">
                    <h3 class="integrations-taxonomy__navigation-title">Collections</h3>
                    <ul class="integrations-taxonomy__navigation-list integrations-taxonomy__navigation-list_collections mb-5 list-unstyled">
                        <li class="py-1 px-2 mb-0">
                            <a href="/integrations/collection/top-picks#integrations-taxonomy__main-content"
                               class="text-decoration-none d-block">
                                Top Picks
                            </a>
                        </li>
                        <li class="py-1 px-2 mb-0">
                            <a href="/integrations/collection/freshbooks-tested#integrations-taxonomy__main-content"
                               class="text-decoration-none d-block">
                                FreshBooks Tested
                            </a>
                        </li>
                        <li class="py-1 px-2 mb-0">
                            <a href="/integrations/collection/community-built#integrations-taxonomy__main-content"
                               class="text-decoration-none d-block">
                                Community Built
                            </a>
                        </li>
                    </ul>
                </div>

                <div class="integrations-taxonomy__navigation-categories-wrapper pl-md-5 pl-lg-0">
                    <h3 class="integrations-taxonomy__navigation-title">Categories</h3>
                    <ul class="integrations-taxonomy__navigation-list integrations-taxonomy__navigation-list_categories mb-5 list-unstyled">
                        <li class="py-1 px-2 mb-0 integrations-taxonomy__navigation-item ">
                            <a href="/integrations/pages" class="text-decoration-none d-block mb-0">View All
                                Integrations</a>
                        </li>
                        <li class="py-1 px-2 mb-0 integrations-taxonomy__navigation-item">
                            <a href="/integrations/accounts-receivable#integrations-taxonomy__main-content"
                               class="text-decoration-none d-block">
                                Accounts Receivable
                            </a>
                        </li>
                    </ul>
                </div>

                <div class="integrations-taxonomy__cancel-button-wrapper text-center m-auto">
                    <a id="integrations-taxonomy__cancel-button"
                       class="integrations-taxonomy__cancel-button btn btn-white border d-block d-lg-none">
                        Cancel
                    </a>
                </div>
            </div>
        </div>
    </div>

    <div class="integrations-taxonomy__right-column col col-12 col-lg-9 mx-auto px-3">
        <div class="integrations-taxonomy__search-wrapper d-flex justify-content-start justify-content-md-between align-items-start mb-5">
            <!-- Group By -->
            <div id="integrations-taxonomy__navigation-toggle"
                 class="integrations-taxonomy__navigation-toggle position-relative d-lg-none pl-md-5">
                <span class="d-none d-md-inline-block">Group By</span>
            </div>

            <!-- Search -->
            <div class="fp-block search-swiftype position-relative  m-0 mr-2" data-swiftype-id="JhegJx_7S2W8bo-syFsg">
                <div id="search-swiftype-96c05073" class="w-100">
                    <input class="search-swiftype__input st-default-search-input form-control mb-2" aria-label="search"
                           type="text" placeholder="Find a new app or service you already use" autocomplete="off"
                           autocorrect="off" autocapitalize="off">
                </div>
                <div class="st-search-container"></div>
            </div>
        </div>

        <!-- Featured -->
        <h2 class="mb-4">Featured</h2>
        <div class="integrations-taxonomy__integrations-container d-flex row m-0 mb-5 justify-content-start">
            <div
                    id="category__integration_test-integration"
                    class="integration-card border border-primary rounded mt-0 mb-4 position-relative"
            >
                <div class="integration-card__integration-top text-center border-bottom border-primary position-relative">
                    <a
                            class="integration-card__integration-link p-4 w-100 h-100 d-flex align-items-center"
                            href="/integrations/pages/test-integration"
                    >
                        <img src="/integration.png" alt="Test Integration"/>
                    </a>
                </div>

                <div class="integration-card__integration-bottom text-left">
                    <div class="integration-card__integration-info pt-3 px-3">
                        <div class="position-relative">
                            <div class="integration-card__top-pick position-absolute"></div>
                        </div>
                        <div>
                            <p class="integrations__freshbooks-tested integration-card__freshbooks-tested text-left text-uppercase d-inline-block pl-3 mb-1">
                                Freshbooks Tested
                            </p>
                        </div>
                        <div class="integration-card__integration-excerpt mb-4">
                            Test Integration...
                        </div>
                        <div class="integration-card__integration-tags d-flex flex-wrap">
                            <a
                                    class="integration-card__integration-tag border rounded d-inline-block text-decoration-none py-1 px-2 mr-2 mb-2 btn btn-white"
                                    href="/integrations/tag/test"
                            >
                                Test
                            </a>
                        </div>
                    </div>
                    <div class="integration-card__integration-bottom-wrap position-absolute px-3 pb-3 pt-0 w-100 text-center ">
                        <a
                                class="integration-card__integration-cta btn btn-white w-100 border"
                                href="/integrations/pages/test-integration"
                                data-integration-title="Test Integration"
                        >
                            Learn More
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
