<div class="notification-slide-in" role="alert">
    <div class="notification-slide-in__card">
        <!-- Copy -->
        <div class="notification-slide-in__card-body">
            <img class="notification-slide-in__card-body_badge" src="/badge.png" alt="Badge" />
            <h2 class="notification-slide-in__card-body_title">
                Notification title
            </h2>
            <p class="notification-slide-in__card-body_text">
                Notification
            </p>
            <a href="/cta" class="notification-slide-in__card-body_btn" target="#cta-target">
                CTA
            </a>
        </div>

        <!-- Close -->
        <button type="button" class="notification-slide-in__card_dismiss fp-dma-dismiss" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
</div>