<footer class="footer trackingSection-footer mb-0 mt-lg-4 pt-lg-4 mx-auto">
    <div class="container-fluid">
        <div class="footer__bottom py-5 py-lg-4 my-2 mx-auto">
            <div class="country-selector d-flex justify-content-center justify-content-lg-start">
                <div id="region-selection-footer" class="region-selection-footer region-selection-footer region-us">
                    <div class="region-selection-footer__input region-select region-selection-footer">
                        <span class="fi fi-us"></span>
                        <div class="selector">
                            United States
                        </div>
                    </div>

                    <div class="region-selection-footer__modal modal__region d-none" style="left: 10px;">
                        <a href="https://www.dev.freshenv.com/en-ca/" class="region " data-country-code="ca"
                           data-country-name="Canada">
                            <span class="fi fi-ca"></span>
                            Canada
                        </a>
                        <a href="https://www.dev.freshenv.com" class="region " data-country-code="us"
                           data-country-name="United States">
                            <span class="fi fi-us"></span>
                            United States
                        </a>
                    </div>

                    <div class="region-selection-footer__input language-select d-none">
                        <div class="selector">
                            English
                        </div>
                    </div>

                    <div class="region-selection-footer__modal modal__language d-none" style="left: 0;">
                        <a href="https://www.dev.freshenv.com/en-ca/" class="language ca d-none">
                            English
                        </a>
                        <a href="https://www.dev.freshenv.com" class="language us ">
                            English
                        </a>
                    </div>
                </div>

            </div>
        </div>
    </div>
</footer>