<div id="region-selection-header" class="region-selection-header d-none">
    <div class="region-selection-header__content">

        <!-- Label -->
        <div class="region-selection-header__copy">
            You're currently on our <strong>US site</strong>. Select your regional site here:
        </div>

        <!-- Select -->
        <div class="region-selection-header__inputs">
            <div class="region-selection-header__select">
                <label for="form-control" class="d-none">Select your region</label>
                <select id="form-control" class="form-control">
                    <option disabled="" selected="">Select your region</option>
                    <option value="en-ca">Canada</option>
                    <option value="en-us">United States</option>
                </select>
            </div>
        </div>

        <!-- Close -->
        <a type="button" class="close region-selection-header__close btn-close" tabindex="0" aria-label="Close">
            <span aria-hidden="true">×</span>
        </a>

    </div>
</div>