@import '../../../freshpress-includes';

.contact {
	padding-bottom: 140px;
	//background-image: url( #{$dibs_images_path}/templates/page/dibs/dibs-bottom-bg.svg );
	background-repeat: no-repeat;
	background-position: left bottom;
	background-size: 360px auto;

	@include media-breakpoint-up( md ) {
		padding-bottom: 200px;
		background-size: 55%;
	}

	.dibs__text {
		@include media-breakpoint-up( lg ) {
			max-width: 650px;
		}
	}
}
