<div class="sign-up__divider position-relative w-100 mb-3 mt-2">{{ labels.or }}</div>
<a
		href="#"
		data-href="https://{{ domains.auth }}/service/auth/auth/apple?intent=sign_up"
		class="sso-signup_apple btn btn-outline-grey bg-white sign-up__ghost-btn d-flex align-items-center position-relative justify-content-center w-100 mb-2"
>
	{{{ logos.apple }}}
	{{ labels.sign_up_apple }}
</a>

<a
		href="#"
		data-href="https://{{ domains.auth }}/service/auth/auth/google_oauth2_central_sso?intent=sign_up"
		class="sso-signup_google btn btn-outline-grey bg-white sign-up__ghost-btn d-flex align-items-center position-relative justify-content-center w-100 mb-5"
>
	{{{ logos.google }}}
	{{ labels.sign_up_google }}
</a>
