{{# file_download_files }}
	<a href="{{ url }}"
	   class="file-download__file d-inline-flex flex-column align-items-center text-decoration-none m-2"
	   target="_blank"
	   download
	>
		{{{ icon }}}
		<span class="file-download__name text-uppercase">{{ file_type }}</span>
	</a>
{{/ file_download_files }}
