{{# headline }}
	<h2 class="faq__headline text-center">
        {{{ headline }}}
	</h2>
{{/ headline }}


<div class="faq__items">
	{{# questions_and_answers }}
		{{> partial__qa }}
	{{/ questions_and_answers }}
</div>
