<div class="faq__item position-relative">
	<div class="faq__question my-3">
		<div class="row">
			<div class="col-md-10 col-lg-9">
				<h3 class="mb-0">{{{ question }}}</h3>
			</div>
		</div>
		{{{ arrow_icon }}}
	</div>
	<div class="faq__answer">
		<div class="row">
			<div class="faq__answer-content {{ column_sizing }}">
				{{{ answer }}}
			</div>
		</div>
	</div>

	{{{ admin_controls }}}
</div>
