<div class="hero__search-content d-flex flex-wrap w-100 p-2 mx-auto ml-md-0">
    <div class="hero__search-input-container w-100 position-relative">
        <input
            class="st-default-search-input form-control hero-search__input"
            aria-label="search"
            type="text"
            placeholder="{{ hero_search_input_placeholder_text }}"
            autocomplete="off"
            autocorrect="off"
            autocapitalize="off"
        >
    </div>
</div>
