{{# detailedComments }}
/**
 * The following styles get applied inside the editor only.
 *
 * Replace them with your own styles or remove the file completely.
 */
{{/detailedComments}}
.editor-styles-wrapper {
	.wp-block-fpbk-{{ name }} {
		border: none;
	}
}
