{{# most_popular }}
	<div class="pricing-table_column-badge w-100 position-absolute text-center">
		{{{ images.most_popular }}}
	</div>
{{/ most_popular }}

<div class="pricing-table_column-label text-center pt-3 pb-4">
	{{# name }}
		<div class="my-2">
			<h3 class="pricing-table_column-label__title">
				{{ name }}
			</h3>
		</div>
	{{/ name }}

	{{# blurb }}
		<div class="mb-2">
			<span class="pricing-table_column-label__blurb d-block mx-auto">
				{{ blurb }}
			</span>
		</div>
	{{/ blurb }}
</div>
