{{# is_with_video_theme }}
	<div class="reversed-corner reversed-corner_down reversed-corner_white d-none d-lg-block"><div></div></div>
	<h2 class="mb-4 pb-2 mb-md-4 section-heading section-heading_first text-center">{{{ product_tour_title }}}</h2>
{{/ is_with_video_theme }}
{{> partials__nav }}
{{> partials__carousel }}
